.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2.5rem;
    background-color: white;
    border-bottom: 1px solid #eaeaea;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.02);
}
  
.walletButton {
  display: flex;
  align-items: center;
}


.navLink {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  color: #666;
  font-weight: 500;
  transition: all 0.2s ease;
  border-radius: 8px;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000000;
  background: #faf6f2;
  transition: color 0.2s ease;
}
